@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

html, body {
	font-family: 'Space Mono';
}

#icon {
	width: 2%;
}

#intro {
	font-size: 0.85em;
	position: fixed;
	padding: 2%;
	background-color: white;
	width: 100%;
	text-align: center;
}

a {
	color: black;
	text-decoration: underline;
}
a:hover {
	color: #F05656;
}

#info-box {
	display: none;
	position: fixed !important;
	top: 0;
	padding: 2.5%;
	margin-left: 40%;
	width: 250px;
	text-align: center;
	background-color: white;
	z-index: 1;
	font-size: 0.85em;
}

.slider {
	font-weight: 700;
}

.footer {
	width: 100%;
	bottom: 0;
	font-size: 0.85em;
	position: fixed;
	margin-bottom: 2.5%;
}
.slider {
	width: 30%;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	padding: 2%;
}

@media only screen and (max-width: 650px) {
    #info-box {
			position: fixed ;
			margin-left: 20%;
    }
}

#text {
	font-size: 6px;
}

svg {
	height: 150vh;
}

#popular > circle {
	fill: #F05656;
	opacity: 0;
}

#water {
	fill: #E8F0F9;
}

#border {
	fill:none;
	stroke:#000000;
	stroke-width:0.5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-dasharray: 4.9917,4.9917;
}

#parks {
	fill: #ECF5E3;
}

#streets {
	fill:none;
	stroke:#000000;
	stroke-width:0.5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}

.st12 {
	fill: #FFFFFF;
}
.st13{
	font-size:7.3511px;
}
